<!-- team section -->
<div class="mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Our <span class="orange-text">Team</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-1"></div>
                    <h4>Jimmy Doe <span>Farmer</span></h4>
                    <ul class="social-link-team">
                        <li><a routerLink="/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a routerLink="/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a routerLink="/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-2"></div>
                    <h4>Marry Doe <span>Farmer</span></h4>
                    <ul class="social-link-team">
                        <li><a routerLink="/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a routerLink="/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a routerLink="/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-team-item">
                    <div class="team-bg team-bg-3"></div>
                    <h4>Simon Joe <span>Farmer</span></h4>
                    <ul class="social-link-team">
                        <li><a routerLink="/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a routerLink="/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a routerLink="/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end team section -->
