<!-- logo carousel -->
<!--<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="./assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="./assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="./assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="./assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="./assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="logo-carousel-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="logo-carousel-inner">

                <owl-carousel-o [options]="customOptions" class="single-logo-item">

                    <ng-template carouselSlide>

                        <img src="./assets/img/company-logos/1.png" alt="">

                    </ng-template>
                    <ng-template carouselSlide>

                        <img src="./assets/img/company-logos/2.png" alt="">

                    </ng-template>
                    <ng-template carouselSlide>

                        <img src="./assets/img/company-logos/3.png" alt="">

                    </ng-template>
                    <ng-template carouselSlide>

                        <img src="./assets/img/company-logos/4.png" alt="">

                    </ng-template>
                    <ng-template carouselSlide>

                        <img src="./assets/img/company-logos/5.png" alt="">

                    </ng-template>

                </owl-carousel-o>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>