<!-- home page slider
<div class="homepage-slider">-->
<!-- single home slider
    <div class="single-homepage-slider homepage-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Fresh & Organic</p>
                            <h1>Delicious Seasonal Fruits</h1>
                            <div class="hero-btns">
                                <a routerLink="shop" class="boxed-btn">Fruit Collection</a>
                                <a routerLink="contact" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
<!-- single home slider
  <div class="single-homepage-slider homepage-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Fresh Everyday</p>
                            <h1>100% Organic Collection</h1>
                            <div class="hero-btns">
                                <a routerLink="shop" class="boxed-btn">Visit Shop</a>
                                <a routerLink="contact" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
<!-- single home slider
    <div class="single-homepage-slider homepage-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-right">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Mega Sale Going On!</p>
                            <h1>Get December Discount</h1>
                            <div class="hero-btns">
                                <a routerLink="shop" class="boxed-btn">Visit Shop</a>
                                <a routerLink="contact" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- end home page slider -->



<div class="homepage-slider">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="single-homepage-slider homepage-bg-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                            <div class="hero-text">
                                <div class="hero-text-tablecell">
                                    <p class="subtitle">Fresh & Organic</p>
                                    <h1>Delicious Seasonal Fruits</h1>
                                    <div class="hero-btns">
                                        <a routerLink="/shop" class="boxed-btn">Fruit Collection</a>
                                        <!--<a (shopclick)="visitshop()" class="boxed-btn">Fruit Collection</a>-->

                                        <a routerLink="/contact" class="bordered-btn">Contact Us</a>

                                        <!--<a (contactclick)="visitcontact($event)" class="bordered-btn">Contact Us</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-homepage-slider homepage-bg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center">
                            <div class="hero-text">
                                <div class="hero-text-tablecell">
                                    <p class="subtitle">Fresh Everyday</p>
                                    <h1>100% Organic Collection</h1>
                                    <div class="hero-btns">
                                        <a routerLink="/shop" class="boxed-btn">Visit Shop</a>
                                        <a routerLink="/contact" class="bordered-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-homepage-slider homepage-bg-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-right">
                            <div class="hero-text">
                                <div class="hero-text-tablecell">
                                    <p class="subtitle">Mega Sale Going On!</p>
                                    <h1>Get December Discount</h1>
                                    <div class="hero-btns">
                                        <a routerLink="/shop" class="boxed-btn">Visit Shop</a>
                                        <a routerLink="/contact" class="bordered-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>

    </owl-carousel-o>
</div>